<h1>Binding</h1>
<p>This page shows examples of the various ways binding works in Angular.</p>

<input [(ngModel)]="myVar"/>

<h2>Component with input only.</h2>
<h3>myVar with no brackets</h3>
myVar
<h3>myVar in double brackets:</h3>
{{myVar}}

<h3>my-input component with myVar in the box:</h3>
<my-input [value]="myVar"></my-input>

<h3>my-input component with myVar:</h3>
<my-input value="myVar"></my-input>

<h3>my-input component with myVar in double brackets:</h3>
<my-input value="{{myVar}}"></my-input>

<h3>my-input component with myVar in banana in a box:</h3>
<my-input [(value)]="myVar"></my-input>

<h2>Component with input and ouput.</h2>
<h3>myVar with no brackets</h3>


<h3>my-two-way-input component with myVar in banana in a box:</h3>
<p>In Angular (as opposed to AngularJS) you can control when the two way binding actually happens:
    on the change or on each individual keyup.</p>
{{myOwnVar}}
<my-two-way-input [(value)]="myOwnVar"></my-two-way-input>
